<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WS  connection</title>
</head>
<body>
    <button onclick="openWSconnect()">open ws connect</button>
    <button onclick="closeWebSocket()">Close ws connect</button>
    <br/>
    <form action="" onsubmit="sendMessage(event)">
      <input type="text" placeholder="请输入发送的信息" id="messageText" autocomplete="off"/>
      <button>WS msg Send</button>
    </form>

    <ul id='messages'>
    </ul>

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>#}
<script type="text/javascript" charset="utf-8">
    // socket.io client API doc: https://socket.io/docs/v4/client-api/

    // var socket = io("http://127.0.0.1:5000");
    var socket = io("ws://127.0.0.1:5000/namespace", {
        reconnectionDelayMax: 10000,                 // 重连时间间隔
        auth: (cb) => {
            cb(localStorage.getItem("token"));       // 带token
        },
        query: {
            "my-key": "my-value"                     // 查询参数
        }
    });

    // ws连接时触发
    socket.on('connect', () => {
        alert('正在建立websocket连接......')
        console.log('client connected, socket id is -------', socket.id)
        console.log('socket status is ', socket.connected)
    });

    // 连接出错时触发
    socket.on("connect_error", () => {
        // 一般连接出错会自动隔时重连，若是被server端拒绝，可更新认证凭证
        // socket.auth.token = "abcd";

        setTimeout(() => {
            socket.connect();
        }, 3000);
    });

    // ws断开时触发
    socket.on('disconnect', (reason) => {
        console.log('client disconnect for----------', reason)
    });

    // socket.emit('my event', {data: 'I\'m connected!'});

    // 注册事件news，监听接收来自server端的数据
    socket.on('news', (data) => {
        console.log('get message from server, receive data is ---->  ', data)

        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(data.data)
        message.appendChild(content)
        messages.appendChild(message)
      })


    function sendMessage(event) {
        var input = document.getElementById("messageText")
        // ws发送数据
        console.log("send input data ---->  ", input.value)
        // socket.send([...args][, ack])   指定事件名为message，不定参数args，回调函数ack即(res) => {}
        // socket.emit(eventName[, ...args][, ack])
        socket.emit('news', {data: input.value})
        input.value = ''
        event.preventDefault()
    }

    function openWSconnect() {
        socket.connect()
        // socket.open()
    }
    function closeWebSocket() {
        socket.disconnect()
        // socket.close()
        console.log('socket status is ', socket.connected)
    }

</script>
</body>
</html>